.gamesBox {
  background: var(--primary-color);
  border-radius: 1rem;
  padding: .5rem;
  margin: 1rem;
}

.gamesHeader p{
  color: var(--foreground-color);
  font-family: monospace;
  font-size: 1.35rem;
  padding-left: 1rem;
  opacity: 75%;
}

.gamesContent {
  padding-top: 2rem;
  height: 70%;
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto auto;
}

@media screen and (max-width: 768px) {
  .gamesContent {
    grid-template-columns: auto;
    height: 81%;
  }
}