.profileImg {
  width: 256px;
  height: 256px;
  
  outline: 4px dotted var(--primary-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImg img {
  width: 90%;
  height: 90%;
  outline: 4px solid var(--primary-color);
}
