header {
  background-color: var(--primary-color);
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 2.5rem;
  
  padding-left: 1rem;
  padding-right: 1rem;

  border-radius: 1rem 1rem 0 0;
}

header button {
  background-color: var(--background-color);
  
  height: 1rem;
  width: 1rem;

  border-radius: 50%;
  border: none;

  cursor: pointer;

  transition: background-color .2s;
}

header button:hover {
  background-color: var(--secondary-color);
  transition: background-color .2s;
}

header p {
  font-family: monospace;
  font-size: 1.25rem;
}