nav {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px 20px;
  position: relative;
  height: 2rem;

  box-shadow: var(--shadow);
}

.nav-buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-buttons button {
  display: inline-flex;
  align-items: end;
  justify-content: center;
 
  width: 3rem;
  height: 3rem;
  margin-left: .5rem;
  margin-right: .5rem;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-buttons button.active {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.nav-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-buttons button img {
  margin: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .date-time {
    display: none;
  }

  .nav-buttons {
    position: static;
    transform: none;
    margin: 0 auto;
  }
}