.hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: -1;
}

.hero-content h1 {
    font-family: 'PT Sans';
    font-size: xxx-large;
    line-height: 0px;
}

.hero-content p {
    font-family: 'Space Mono', monospace;
    font-size: larger;
}