.navbar {
    padding-top: 10px;    
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.navbar__title {
    margin-left: 25px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0px 10px 0px 10px;
    font-family: "Space Mono", monospace;
    letter-spacing: 5px;
    cursor: pointer;
    transition: all 100ms ease-out;
}

.navbar__menu-btn {    
    padding-right: 50px;
    cursor: pointer;
    filter: var(--filter-primary-color);
    transition: all 100ms ease-out;
}

.navbar__title:hover {
    background-color: var(--accent-color);
    color: var(--primary-color)
}

.navbar__menu-btn:hover {    
    filter: var(--filter-accent-color);
}