.profileItem {
  display: flex;
  align-items: center;
  gap: .5rem;
  border-bottom: 2px solid var(--secondary-color);
}

.profileTitle {
  font-family: monospace;
  font-size: 1.1rem;
  color: var(--foreground-color);
}

.profileTitle img {
  height: 2rem;
  width: auto;
  filter: saturate(0%) brightness(300%);
}

.profileContent {
  color: var(--foreground-color);
  opacity: 50%;
  flex-grow: 1;
  text-align: right;
}