:root {
  --primary-color: #fff1e8;
  --secondary-color: #111d35;
  --accent-color: #be1250;

  --filter-primary-color: brightness(0) saturate(100%) invert(87%) sepia(9%)
    saturate(943%) hue-rotate(318deg) brightness(112%) contrast(104%);
  --filter-secondary-color: brightness(0) saturate(100%) invert(5%) sepia(91%)
    saturate(1796%) hue-rotate(208deg) brightness(98%) contrast(90%);
  --filter-accent-color: brightness(0) saturate(100%) invert(12%) sepia(98%)
    saturate(5768%) hue-rotate(333deg) brightness(78%) contrast(88%);
}
