.background {
  z-index: -1000;
}

.hero {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -150%);
  color: var(--primary-color);
  padding: 10px;
  text-align: center;
  transition: all 2s ease-in-out;
  opacity: 50%;
  width: 100%;
}

.hero p {
  font-family: monospace;
  font-size: 1.1rem;
  opacity: 75%;
}

.hero:hover {
  transform: translate(-50%, -150%) scale(1.05);
  opacity: 100%;
}

/* SOURCE: https://codesandbox.io/p/sandbox/css-shooting-stars-animation-w96ut */

.shootingStars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#1a1b2a, #414465);
  background-position-x: center;
  background-size: cover;
  animation: animateBg 50s linear infinite;
}
@keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.shootingStars span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #edf2f4;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate 9s linear infinite;
}
.shootingStars span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #8d99ae, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
.shootingStars span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0;
  animation-duration: 3s;
}

.shootingStars span:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 9s;
}

.shootingStars span:nth-child(3) {
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 6s;
}

.shootingStars span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 1.8s;
  animation-duration: 4.5s;
}

.shootingStars span:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 2.4s;
  animation-duration: 7.5s;
}

.shootingStars span:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 3s;
  animation-duration: 9s;
}
.shootingStars span:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 3s;
  animation-duration: 5.25s;
}

.shootingStars span:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 4.2s;
  animation-duration: 3.75s;
}

.shootingStars span:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 2.25s;
  animation-duration: 6.75s;
}

.shootingStars span:nth-child(10) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 8.25s;
  animation-duration: 6.75s;
}

@media screen and (max-width: 600px) {
  .hero h1 {
    font-size: 1.4rem;
  }

  .hero p {
    font-size: 0.9rem;
  }
}